[core]
	autocrlf = input
	editor = vim
	excludesfile = ~/.gitignore_global

[color]
	ui = true

[ghq]
	root = ~/Project/src

[pull]
	rebase = false

[user]
	name = AkashiSN
	email = btorntireinvynriy@gmail.com
	signingkey = 058A1155F0E6572C