[core]
	autocrlf = input
	editor = vim
	excludesfile = ~/.gitignore_global

[color]
	ui = true

[commit]
	gpgsign = true

[ghq]
	root = ~/Project/src

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[pull]
	rebase = false

[user]
	name = AkashiSN
	email = btorntireinvynriy@gmail.com
	signingkey = 058A1155F0E6572C

[url "https://"]
	insteadOf = git://